.home_background{
    background-image: url('../public/img/grain.png');
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;

}

.home_title{
    font-size: 3.5em;
    text-align: center;
    font-weight: 400;
}

.tarot_card_container{
    display: flex;
    gap : 3em
}

.tarot_card{
    height: 15em;
    

}


