.zoomable-image-container {
    position: relative;
    cursor: none;
  }
  
  .zoomable-image-magnifier {
    position: absolute;
    border: 4px solid #ffffff;
    pointer-events: none;
    background-repeat: no-repeat;
    z-index: 100;
    visibility: hidden;
    border-radius: 50%; 
    filter: invert(75%);
  }
  
  .zoomable-image-container:hover .zoomable-image-magnifier {
    visibility: visible; 
  }
  