@font-face {
  font-family: 'cigra'; /* Remplacez par le nom que vous souhaitez utiliser pour votre police */
  src: url('../font/Cigra\ Free\ Demo.ttf'); /* Remplacez le chemin par le chemin vers votre fichier de police */
}

*{
  margin: 0;
  
}

html{
  font-family: 'Cigra';
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color) ;
}

:root{
  --background-color : #191c1c;
  --background-color-light : hsl(180, 6%, 60%);
  --text-color-darken : #d07a62;
  --text-color : #E1A99A;
  --text-color-very-light : hsl(12, 60%, 60%);
  --secondary-color : #C99E67;
  --darken-secondary-color : #635036;

}